@import 'reset';
@import 'ember-paper';

$darkgray: #313542;

html {
	font-size: 8px;
	height: 100%;
}

body {
	height: 100%;
}

body > .ember-view {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header__link {
	margin: 0 1rem;
}

.header__profile {
	margin: 0 1rem;
}

.landing {
	background-color: $darkgray;
	color: gold;
	flex: 1 0 auto;
}

.landing__start {
	bottom: 3rem;
	position: absolute;
}

.landing__text {
	font-size: 4rem;
	margin: 2rem 0;
	max-width: 60%;
	text-align: center;
}

.coding {
	background-color: blue;
}

.mining {
	background-color: brown;
}

.mining__code {
	height: 100%;

	.ace_editor {
		height: 100%;
	}
}
