@import 'reset';
@import 'colors';

@import 'media-dimensions';
@import 'landing';
@import 'signup-form';

html {
	font-family: Sans-Serif;

	@media only screen and (max-width: $mobile-m) {
		font-size: 8px;
	}

	@media only screen and (min-width: $mobile-m) {
		font-size: 10px;
	}

	@media only screen and (min-width: $mobile-l) {
		font-size: 12px;
	}

	@media only screen and (min-width: $tablet) {
		font-size: 12px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	font-size: 2.25rem;
}

.small {
	font-size: 1.75rem !important;
}

.email {
	padding: 2rem 1rem !important;
}

.button {
	height: 4rem !important;
}

.title {
	font-size: 3rem;
}

#site-header {
	background-color: $bitblue-dark;
	color: $bitwhite;
	display: flex;
	height: 5vh;
	justify-content: space-between;

	#header-title {
		align-items: center;
		cursor: pointer;
		display: flex;
		font-size: 1.5rem;
		font-style: italic;
		padding: 1rem;
	}

	nav {
		align-items: center;
		display: flex;

		#header-links {
			align-items: center;
			display: flex;
			font-size: 1rem;

			li {
				cursor: pointer;
				margin: 0 1rem;
			}
		}
	}
}

.medium {
	font-size: 1.5rem;
}

.large {
	font-size: 3rem;
}

#mc-embedded-subscribe {
	background-color: $bitblue !important;
}