@import 'colors';

#landing-page {
	align-items: center;
	background-color: $bitblue-dark;
	color: $bitwhite;
	display: flex;
	flex-direction: column;
	justify-content: center;

	button {
		margin: 1rem auto;
	}
}

#landing-title {
	align-items: center;
	display: flex;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.25;
	margin-top: 6rem;

	img {
		height: 8rem;
		margin-right: 2rem;
		width: 8rem;
	}
}

#landing-text {
	font-size: 1.5rem;
	margin: 4rem auto;
	text-align: center;
	width: 60%;
	
	p {
		margin: 1rem;
	}
}