@import 'colors';

#landing-page {
}

#slide-1 {
	align-items: center;
	background-color: $bitblue-dark;
	color: $bitwhite;
	display: flex;
	flex-direction: column;
	min-height: 80vh;
	padding: 2rem;
}

#slide-1-signup {
	margin: 1rem;
}

#slide-2 {
	background-color: $bitwhite;
	display: flex;
	min-height: 80vh;
	flex-direction: column;
	position: relative;
	padding: 2rem;
}

#slide-2-text {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	h1 {
		font-weight: 700;
		margin: 1rem 0;
	}

	ul {
		list-style-type: disc;
		list-style-position: inside;
		padding: 1rem;
	}
}

#slide-2-signup {
	margin: 2rem 1rem;
}

#slide-2-images {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0;
	position: relative;
	width: 100%;
}

#img-container {
	height: 40vw;
	width: 60vw;
	position: relative;

	img {
		background-color: $bitblack;
		box-shadow: 0px 8px 8px $bitblack;
		height: calc(100% - 4rem);
		width: calc(100% - 4rem);
		padding: 0.5rem;
		position: absolute;
	}

	.img-back {
		z-index: 1;
		top: 0;
		left: 0;
	}

	.img-middle {
		z-index: 2;
		top: 1.5rem;
		left: 1.5rem;
	}

	.img-front {
		z-index: 3;
		top: 3rem;
		left: 3rem;
	}
}

#slide-3 {
	background-color: $bitblue;
	height: 95vh;
}

footer {
	background-color: $bitblue-dark;
	height: 10vh;
}

#slide-1-title {
	align-items: center;
	display: flex;
	font-weight: 700;
	line-height: 1.25;
	margin-top: 6rem;

	img {
		height: 8rem;
		margin-right: 2rem;
		width: 8rem;
	}
}

#slide-1-text {
	margin: 4rem auto;
	text-align: center;
	
	p {
		margin: 1rem;
	}
}