<div class='flex coding layout-column'>
	{{outlet}}

	<footer class='coding__footer layout-row layout-align-space-between-center'>
		<h1>Mining</h1>
		<div class='layout-row'>
			{{paper-icon 'home'}}
			{{paper-icon 'arrow-forward'}}
			{{paper-icon 'home'}}
		</div>
		<h1>Reward</h1>
	</footer>
</div>
