<div class='flex daily-life layout-column'>
	{{outlet}}

	<footer class='daily-life__footer layout-row layout-align-space-between-center'>
		<h1>Introduction to Bitcoin</h1>
		<div class='layout-row'>
			{{paper-icon 'home'}}
			{{paper-icon 'arrow-forward'}}
			{{paper-icon 'home'}}
		</div>
		<h1>Reward</h1>
	</footer>
</div>
