<div class='layout-column flex'>
	<div class='flex layout-column layout-align-center-center'>
		{{#link-to 'courses.coding.mining'}}
			<h1>Coding</h1>
		{{/link-to}}
	</div>

	<div class='layout-row flex'>
		<h1 class='flex layout-column layout-align-center-center'>Finance</h1>
		<h1 class='flex layout-column layout-align-center-center'>Daily Life</h1>
	</div>

	{{outlet}}
</div>
