<div class='layout-column flex'>
	<div class='flex layout-column layout-align-center-center'>
		{{#link-to 'courses.coding.mining'}}
			<h1>Coding</h1>
		{{/link-to}}
	</div>

	<div class='layout-row flex'>
		<h1 class='flex layout-column layout-align-center-center'>Finance</h1>

		<div class='flex layout-column layout-align-center-center'>
			{{#link-to 'courses.daily-life.intro'}}
				<h1>Daily Life</h1>
			{{/link-to}}
		</div>
	</div>

	{{outlet}}
</div>
