<div class='layout-column flex courses__index'>
	<div class='flex layout-column layout-align-center-center'>
		{{#link-to 'courses.coding'}}
			<h1>Coding</h1>
		{{/link-to}}
	</div>

	<div class='layout-row flex'>
		<h1 class='flex layout-column layout-align-center-center'>Finance</h1>

		<div class='flex layout-column layout-align-center-center'>
			{{#link-to 'courses.daily-life'}}
				<h1>Daily Life</h1>
			{{/link-to}}
		</div>
	</div>

	{{outlet}}
</div>
