<header class='header layout-row layout-align-space-between-center'>
	{{#link-to 'index'}}
		<h2 class='header__title layout-row layout-align-start-center'>
			<img src='/assets/img/logo.png' class='header__logo' />
      Bitcoin Institute of Technology
    </h2>
	{{/link-to}}

	<div class='layout-row layout-align-end-center'>
		{{#link-to 'about' class='header__link'}}
			About
		{{/link-to}}

		{{#link-to 'courses' class='header__link'}}
			Courses
		{{/link-to}}

		{{paper-icon 'account-circle' class='header__profile' size='36'}}
	</div>
</header>

{{liquid-outlet}}
