<div id="application">
	<header id="site-header">
		<div id="header-title">
			Bitcoin Institute of Technology
		</div>

		<nav>
			<ul id="header-links">
				<li>Login</li>
			</ul>
		</nav>
	</header>

	{{outlet}}
</div>