<div id="landing-page">
	<div id="landing-title">
		<img src="assets/bitcoin_logo.png" alt="cryptocurrency">

		<h1>
			Learn Bitcoin.<br>For real.
		</h1>
	</div>

	<div id="landing-text">
		<p>
			Think you need a degree to get into cryptocurrency?
			<br>
			Think again.
		</p>

		<p>
			Skip the never-ending articles and get guided, hands-on training in the world of Bitcoin.
		</p>
	</div>

	<button>
		Start Learning
	</button>
</div>