<div class='landing layout-column layout-align-center-center'>
	<div class='landing__callout layout-row layout-align-space-around-center'>
		<div class='layout-column flex-60'>
			<h1 class='landing__text strong'>
				Think you need a degree to get into Bitcoin?
			</h1>

			<h1 class='landing__text'>Think again.</h1>

			<h1 class='landing__text'>Skip the never&#8209;ending articles and get guided, hands&#8209;on training in the world of Bitcoin.</h1>
		</div>

		<div class='flex-40'>
			<img class='landing__logo' src='/assets/img/logo.png' />
		</div>
	</div>

	{{#link-to 'courses' class='landing__start'}}
		<button class='landing__button'>
			Start Learning
		</button>
	{{/link-to}}
</div>

{{outlet}}
