<div id="landing-page">
	<div id="slide-1">
		<div id="landing-title">
			<img src="assets/bitcoin_logo.png" alt="cryptocurrency">

			<h1>
				Learn Crypto.<br>For real.
			</h1>
		</div>

		<div id="landing-text">
			<p>
				Think you need a degree to get into cryptocurrency?
				<br>
				Think again.
			</p>

			<p>
				With Crypto Institute of Technology, you can skip the never-ending articles and get guided, hands-on training.
			</p>
		</div>

		<div id="slide-1-signup">
			<SignupForm />
		</div>
	</div>

	<div id="slide-2">

	</div>
</div>