<div id="landing-page">
	<section id="slide-1">
		<div id="landing-title">
			<img src="assets/bitcoin_logo.png" alt="cryptocurrency">

			<h1>
				Learn Crypto.<br>For real.
			</h1>
		</div>

		<div id="landing-text">
			<p>
				Think you need a degree to get into cryptocurrency?
				<br>
				Think again.
			</p>

			<p>
				With Crypto Institute of Technology, you can skip the never-ending articles and get guided, hands-on training.
			</p>
		</div>

		<div id="slide-1-signup">
			<SignupForm />
		</div>
	</section>

	<section id="slide-2">
		<div id="slide-2-text">
			<h1>Learn by Doing</h1>

			<p>
				Gain proficiency with bite-sized coding lessons on a range of topics, including:
			</p>
			<ul>
				<li>Private Key Generation</li>
				<li>Transaction Validation</li>
				<li>Peer Discovery</li>
			</ul>
		</div>

		<div id="slide-2-image">
			<img src="assets/dblesson.png" class="image-back" />
			<img src="assets/lessonblockchain.png" class="image-middle" />
			<img src="assets/lesson.png" class="image-front" />
		</div>

		<SignupForm />
	</section>

	{{!--
	<section id="slide-3">
		<div id="slide-3-text">
			<h1>Build the Core</h1>

			<p>
				At Crypto Institute of Technology, you'll develop real cryptocurrency cores, module by module.
			</p>

			<p>
				When you're finished, you'll understand how it all fits together, because you'll have built it by yourself.
			</p>
		</div>

		<div id="slide-3-image">
		</div>
	</section>
	--}}

	<footer>
	</footer>
</div>