<div class='landing'>
	<h1 class='landing__text'>As a new currency, Bitcoin requires a whole new financial education.</h1>

	<h1 class='landing__text'>Skip the long articles and get guided, hands-on training in the world of Bitcoin.</h1>

	{{#link-to 'courses'}}
		{{#paper-button raised=true primary=true}}Start Learning{{/paper-button}}
	{{/link-to}}
</div>

{{outlet}}
