<div id="landing-page">
	<h1 id="landing-title">
		Learn Crypto.
		<br>
		For real.
	</h1>

	<div id="landing-text">
		<p>
			Think you need a degree to get into crypto?
			<br>
			Think again.
		</p>

		<p>
			Skip the never-ending articles and get guided, hands-on training in the world of cryptocurrencies.
		</p>
	</div>

	<button>
		Start Learning
	</button>
</div>